:root {
    --white: white;
    --black: #000;
    --dark-blue: #072038;
    --medium-blue: #156B79;
    --bg-bleu: linear-gradient(90deg, #072038 0%, #0A355F 100%);
    --bleu-ciel: #26C1D9;
    --bleu-pale: #f0fdff;
    --saumon: #FD7762;
    --grey: #A0BDC0;
}