:root {
    --white: white;
    --black: #000;
    --dark-blue: #210404;
    --medium-blue: #791526;
    --bg-bleu: linear-gradient(90deg, #210404 0%, #5f0a2b 100%);
    --bleu-ciel: #ff3c60;
    --bleu-pale: #fff2f4;
    --saumon: #289cbe;
    --grey: #A0BDC0;
}