.top-footer-container {
    background: white;
    display: flex;
    gap: 6rem;
    justify-content: space-around;
    align-items: flex-start;
    padding: 4rem 4rem 8rem;

    .col-footer {
        flex-basis: 25%;
        flex-direction: column;
        display: flex;
        gap: 1rem;

        a {
            font-size: 16px;
            color: var(--bleu-ciel);
            font-weight: 500;

            &:hover {
                text-decoration: none;
                color: var(--dark-blue);
            }
        }

        p {
            font-size: 18px;
            color: var(--dark-blue);
            font-weight: 500;
        }

        h3 {
            font-size: 20px;
            color: var(--medium-blue);
            font-weight: 500;
        }  
    }

    .first-col {
        gap: .5rem;
    }

    .fourth-col {
        .icones-reseaux {
            display: flex;
            gap: 1rem;

            a {
                color: var(--dark-blue);
                border: 1px solid;
                padding: 10px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                align-items: center;
                display: flex;
                justify-content: center;

                &:hover {
                    text-decoration: none;
                    color: var(--bleu-ciel);
                }
            } 
        }  
    }
}

footer {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    background: var(--bleu-pale);
    padding: .5rem 5rem;
    flex: 1;
    flex-wrap: wrap;

    .footer-class {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-align: center;
        padding: 0;

        a {
            text-decoration: none;
            color: var(--dark-blue);
        }        
    }

    .footer-p {
        display: flex;
        justify-content: center;
        align-items: center;

        > * {
            margin: 0;
        }
        
        p {
            text-decoration: none;
            color: var(--dark-blue);
            text-align: center;
        }
    }    

    .footer-flot {
        gap: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        > * {
            margin: 0;
        }

        p {
            text-decoration: none;
            color: var(--dark-blue);
            text-align: center;
        }

        a {
            font-weight: 600!important;
            color: var(--dark-blue)!important;
            text-decoration: underline!important;
            font-weight: 600;
        }
    }
}

// Responsive 
@media screen and (max-width: 1024px) {
    .top-footer-container {
        gap: 2rem;
    }

    
}
@media screen and (max-width: 991px) {
    
    
}
@media screen and (max-width: 768px) {
    footer {
        justify-content: center;
    }

    .top-footer-container {
        flex-wrap: wrap;
        gap: 1rem;

        .col-footer p {
            font-size: 16px;
        }
    }

    
}
@media screen and (max-width: 563px) {
    footer {
        padding: 0.5rem 2rem;
    }

    .top-footer-container {
        padding: 4rem 2rem 8rem;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 2rem;

        .col-footer {
            gap: 0;
        }

        .col-footer.fourth-col {
            gap: 1rem;
        }
    }

    
}

@media screen and (max-width: 480px) {
    footer {
        .footer-p {
            flex-direction: column;
        }
    }

    .top-footer-container {
        .col-footer {
            h3 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }

            a {
                font-size: 14px;
            }
        }
    }
    

    
}