.hero {
    margin: 0 5rem;

    .hero-container {
        display: flex;
        border: 1px solid red;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 7rem auto;

        .left-talk {
            border: 1px solid yellow;
            flex-basis: 55%;
            width: 100%;

            h2 {
                font-size: 72px;
                font-weight: 600;
                margin-right: 5rem;

                span {
                    color: var(--bleu-ciel);
                }
            }

            h1 {
                font-size: 18px;
                font-weight: 400;
                margin-right: 5rem;
                margin-bottom: 3rem;
            }

            .logos-entreprises {
                border: 1px solid green;
                justify-content: space-between;
                display: flex;
                margin-top: 3rem;
            }

            a {
                border: 1px solid purple;
                text-decoration: none;
                color: var(--dark-blue);
                background: var(--saumon);
                border-radius: 30px;
                padding: 13px 20px;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .right-talk {
            flex-basis: 45%;
            width: 100%;
            border: 1px solid green;

            img {
                width: 100%;
            }
        }
    }

    .data-cloud {
        display: flex;
        border: 1px solid pink;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .shape-divider {
        display: flex;
        border: 1px solid red;
        justify-content: center;
        margin: -1px
    }
}