.hero {
    margin: 0 5rem;

    .hero-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 7rem auto;

        .left-talk {
            flex-basis: 55%;
            width: 100%;

            h2 {
                color: var(--white);
                font-size: 72px;
                font-weight: 600;
                margin-right: 5rem;

                span {
                    color: var(--bleu-ciel);
                }
            }

            h1 {
                font-size: 18px!important;
                font-weight: 400!important;
                margin-right: 5rem;
                margin-bottom: 3rem;
                color: var(--white);
            }

            .logos-entreprises {
                justify-content: space-between;
                display: flex;
                margin-top: 3rem;
            }

            a {
                text-decoration: none;
                color: var(--dark-blue);
                background: var(--saumon);
                border-radius: 30px;
                padding: 13px 20px;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .right-talk {
            flex-basis: 45%;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
    
}

.data-cloud {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    
    img {
        width: 100%;
    }
}

.shape-divider {
    display: flex;
    justify-content: center;
    // margin: -1px;
    width: 100%;
}

// Responsive
@media screen and (max-width: 991px) {
    .hero {
        .hero-container {
            flex-direction: column;
            gap: 6rem;

            .left-talk {
                h2 {
                font-size: 48px;
                }
                h1 {
                    font-size: 16px!important;
                }
                .logos-entreprises {
                    flex-wrap: wrap;
                    gap: 2rem;
                    justify-content: center;
                }
            }        
        }    
    }    
}

@media screen and (max-width: 480px) {
    .hero {
        margin: 0 2rem;

        .hero-container {
            // flex-direction: column;
            // gap: 6rem;

            .left-talk {
                h2 {
                font-size: 26px;
                margin-right: 0;
                margin-bottom: 1rem;
                }
                h1 {
                    font-size: 16px!important;
                    margin-right: 0;
                }
                a {
                    font-size: 14px!important;

                }
            }        
        }    
    }    
}