@import "colors";
@import "fonts";
@import "keyframes";
@import "navigation";
@import "hero";
@import "section-2";
@import "section-3";



// GLOBAL
* {
    box-sizing: border-box;
}

body {
    font-family: 'Porpora', sans-serif;
    color: var(--white);
    font-size: 14px;
    background: var(--bg-bleu);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1 {
    font-size: 2rem;
}
