.container-burger {
    display: none;
}

.container-navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;

    img {
        display: flex;
        flex-basis: 25%;
        width: 25rem;
        height: auto;
        object-fit: contain;
        margin-left: 3rem;        
    }

    .main-navigation {
        display: flex;
        flex-basis: 70%;
        justify-content: flex-end;
        margin-right: 3rem;
        position: relative;

        .navbar-nav {
            display: flex;
            align-items: center;
            gap: 3rem;
            list-style: none;

            li {
                position: relative;

                .submenu {
                    display: none;
                    // display: block;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: #fff;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

                    li {
                        padding: 10px;
                    }
                }

                &:hover > .submenu {
                    display: block;
                }
            }

            a {
                text-decoration: none;
                color: var(--dark-blue);

                &:hover {
                    color: var(--rose-gauche);
                }            
            }     
            
        }

        &:hover {
            overflow: visible;
        }
    }
}

// Menu burger 
@media screen and (max-width: 768px) {
    .container-navigation {
        flex-direction: column;
        align-items: center;

        .logo-site {
            margin: 0;
        }
    } 
}

@media screen and (max-width: 480px) {
    .container-burger {
        display: block;
    }

    .container-navigation {
        display: none;
    }
}