#site-navigation {
    background-color: var(--bg-bleu)!important;

    &:hover {
        background: white!important;

        .dropdown-toggle {
            color: var(--black)!important;
            text-decoration: none;
        }
        .nonmegamenu a {
            color: var(--black)!important;
            text-decoration: none;
        }

        .navbar-brand img {
            content: url("../../assets/images/logo-bleu.png");            
        }

        .navbar-toggler {
            border-color: var(--dark-blue);
        }

        .navbar-toggler-icon img {
            content: url("../../assets/images/bars-solid-blue.svg"); 
        }
    }

    #navbarSupportedContent {
        height: 100%;
        justify-content: space-between;

        > ul {
            margin-left: 50px;
            height: 100%;
            align-items: center;
            margin-right: 0!important;
            width: 100%;
            justify-content: space-between;
            
            
        }

        > a {
            text-decoration: none;
            color: var(--black);
            background: var(--bleu-ciel);
            border-radius: 30px;
            padding: 13px 20px;
            font-size: 16px;
            font-weight: 600;
        }

        .free {
            text-decoration: none;
            color: var(--black);
            background: var(--bleu-ciel);
            border-radius: 30px;
            padding: 13px 20px;
            font-size: 16px;
            font-weight: 600;
        }



        #menu-navigation {

            gap: 4rem;
    
            // a {
            //     color: var(--white);
            .nonmegamenu {
                > img {
                    display: none;
                }

                a {
                    color: var(--white);
                    border-radius: 25px;
                    padding: 13px 20px;

                    &:hover {                
                        background: var(--bleu-pale);
                        border-radius: 25px;
                        padding: 13px 20px;
                    }
                }
            }
    
            .megamenu {
                position: static;
    
                > img {
                    display: none;
                }
    
                a {
                    color: var(--white);
                    border-radius: 25px;
                    padding: 13px 20px;

                    &::after {
                        display: none;
                    }

                    &:hover {                
                        background: var(--bleu-pale);
                        border-radius: 25px;
                        padding: 13px 20px;
                    }
                }

    
                .dropdown-menu.show {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    padding: 20px 40px 45px;
                    align-items: flex-end;
                    height: auto;
                    margin: 0;
                    border: none;
                    background: var(--white);
    
                    li {
                        display: flex;
                        flex-direction: column;
                        // padding: 20px;
                        gap: 1rem;
                        border-radius: 5px;
                        padding: 13px 20px;

                        &:hover {
                            background: var(--bleu-pale);
                            border-radius: 5px;
                            padding: 13px 20px;
                        }
                    }
    
                    img {
                        width: 25px;
                        margin-right: 10px;
                    }
    
    
                    a {
                        color: var(--bleu-ciel);
                        font-weight: 600;
                        
                    &:hover {
                        text-decoration: none;
                    }
                    }
                }
            }
        }
    }


    // Réglages Menu hambureger
    .navbar-toggler {
        border-color: var(--white);

        &:hover {
            border-color: var(--dark-blue);

            i {
                color: var(--dark-blue);
            }
        }

        span {
            background-image: none;
            background-image: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                // width: 100%;
                height: 25px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--white);

                &:hover {
                    content: url("../../assets/images/bars-solid-blue.svg"); 
                }
            }
        }
    }    
}

    
// Responsive
@media screen and (max-width: 991px) {
    .container-navigation {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;

        .navbar-collapse.collapse.show {
            display: flex;
            flex-direction: column;
            height: auto!important;
            gap: 1rem;
            padding: 4rem;
            width: 100%;

            a {
                // margin-top: 41px;
            }

            > ul {
                // align-items: flex-start!important;
            }

            .navbar-nav {
                margin-left: 0!important;
                height: auto;
                gap: 4rem;

                #menu-navigation {
                    justify-content: center;
                    align-items: flex-start;
                    width: 100%;

                    .dropdown-menu.show {
                        flex-direction: column;
                        margin-top: 20px!important;
                        height: auto;
                        align-items: flex-start!important;
                        // flex-wrap: wrap;

                        li {
                            width: 100%;
                        }

                        a {
                            // display: flex;
                            a {                                
                                // padding: 0!important;
                            }
                        }
                    }

                    .megamenu {
                       
                        width: 100%!important;

                        a {
                            display: flex!important;
                            justify-content: space-between!important;
                            align-items: center!important;
                        }
                        
                    }
                }
            }
        }
    } 
}

@media screen and (max-width: 563px) {
    .container-navigation {
        .navbar-collapse.collapse.show {
            padding: 2rem;

            a {
            }

            > ul {
            }

            .navbar-nav {
                #menu-navigation {
                    

                    .megamenu {
                        .dropdown-menu.show {

                        li {
                            width: 100%;
                        }

                        a {
                            // display: flex!important;
                        }
                    }
                    }
                }
            }
        }
    } 
}



@media screen and (max-width: 480px) {
    // .container-burger {
    //     display: block;
    // }

    // .container-navigation {
    //     display: none;
    // }
}