.section-three-container {
    margin-top: 15rem;

    h2 {
        padding: 2rem 11rem;
        text-align: center;
        font-size: 60px;

        span {
            color: var(--bleu-ciel);
        }
    }
}