.section-six-container {
    background: var(--white);
    color: var(--dark-blue);
    padding: 1rem 5rem;

    .second-white-container {
        display: flex;
        margin: 7rem auto;
        justify-content: space-between;
        align-items: flex-end;
        background: var(--dark-blue);
        border-radius: 10px;
        color: var(--white);
        width: 100%;
        gap: 2rem;
        overflow: hidden;
        background-image: url("../../assets/images/image-bg.png");
        background-repeat: no-repeat;
        background-position: 0% center;
        height: 497px;

        .left-propilot-connexion {
            flex-basis: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 4rem;
            height: inherit;
            justify-content: center;

            .title-propilot {
                display: flex;
                flex-direction: column;
                
                h2 {
                    font-size: 38px;
                    color: var(--bleu-ciel);
                    margin: 0;
                }

                h3 {
                    font-size: 32px;
                    font-weight: 500;
                }                
            }

            a {
                text-decoration: none;
                color: var(--dark-blue);
                background: var(--saumon);
                border-radius: 30px;
                padding: 13px 20px;
                font-size: 18px;
                font-weight: 600;
                width: 40%;
                text-align: center;
            }
        }

        .right-propilot-container {
            flex-basis: 50%;
            width: 100%;
            padding: 4rem 0 0 0;

            .group-card-image {
                // width: 100%;
            }

            
        }
    }
}