
.section-two-container {
    background: var(--white);
    color: var(--dark-blue);

    .text-container {
        padding: 4rem 11rem 20rem;
        display: flex;
        align-items: flex-start;
    
        .left-title {
            flex-basis: 50%;
            width: 100%;

            h2 {
                font-size: 60px;
                font-weight: 600;
                margin: 0;
            }
        }

        .right-text {
            flex-basis: 50%;
            width: 100%;

            p {
                margin: 0 0 3rem;
                font-size: 18px;
            }

            a {
                text-decoration: none;
                color: var(--dark-blue);
                background: var(--bleu-ciel);
                border-radius: 30px;
                padding: 13px 20px;
                font-size: 18px;
                font-weight: 600;
            }
        }
       
    }

    .image-between-sections {
        padding: 0 11rem;
        position: absolute;
        margin-top: -14rem;

        img {
            width: 100%;
        }
    }

    .parallaxe-duo-color {
        position: absolute;
        top: 96rem;
        right: 0;
    }
}