.section-five-container {
    background: var(--white);
    color: var(--dark-blue);
    padding: 0 5rem;

    .title-article {
        padding: 0 15rem 1rem;

        h2 {
            margin: 0 auto 2rem;
            text-align: center;
            font-size: 48px;
        }

        p {
            font-size: 18px;
            text-align: center;
        }
    }
    
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        padding-bottom: 5rem;

        .cards-right {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 30%;
            border-radius: 15px;
            background: var(--bg-raye);
            // height: 31rem;
            border: 1px solid var(--grey);
            padding: 2rem 1rem;

            .info-block {
                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                }

                ul {
                    padding-left: 0;
                    margin: 0 3rem 3rem 0;

                    li {
                        list-style: none;

                        a {
                            border: 1px solid var(--bleu-ciel);
                            text-decoration: none;
                            color: var(--bleu-ciel);
                            border-radius: 5px;
                            padding: 13px 20px;
                            font-size: 14px;
                            width: 50%;
                            text-align: center;
                        }
                    }
                }
            }

            .fleche-card {
                display: flex;
                gap: 1rem;

                .auteur {
                    display: flex;
                    gap: 1rem;
                }
            }
        }    
    }

    .bouton-page {
        text-decoration: none;
        color: var(--dark-blue);
        background: var(--bleu-ciel);
        border-radius: 30px;
        padding: 13px 20px;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        width: 20%;
        align-items: center;
        margin: 0 auto;
    }
}


// Responsive 
@media screen and (max-width: 1024px) {
    .section-five-container {
        .title-article {
            padding: 0 5rem 1rem;
        }

        .cards-container {
            .cards-right {
                .info-block {
                    h3 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
                // width: 100%;
                // padding: 1rem 2rem;
            }
        }

        .bouton-page {
            width: 30%;
        }
    }

}

@media screen and (max-width: 991px) {
    .section-five-container {
        .title-article {
            padding: 0 0 1rem;
        }

        .cards-container {
            .cards-right {
                width: 45%;
                // padding: 1rem 2rem;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .section-five-container {
        .title-article {
            // padding: 0 7rem 1rem;
        }

        .cards-container {
            .cards-right {
                width: 100%;
                padding: 1rem 2rem;
            }

            .fleche-card {
                width: 100%;
                justify-content: space-around;
            }
        }

        .bouton-page {
            width: 50%;
        }
    }

}

@media screen and (max-width: 563px) {
    .section-five-container {
        padding: 0 2rem;
        .title-article {
            h2 {
                font-size: 36px;
            }

            p {
                font-size: 16px;
            }
            // padding: 0 7rem 1rem;
        }

        .cards-container {
            .cards-right {
                // width: 100%;
                // padding: 1rem 2rem;
            }

            .fleche-card {
                // width: 100%;
                // justify-content: space-around;
            }
        }
    }

}

@media screen and (max-width: 480px) {
    .section-five-container {
        // padding: 0 2rem;
        .title-article {
            h2 {
                font-size: 26px;
            }

            p {
                // font-size: 16px;
            }
            // padding: 0 7rem 1rem;
        }

        .cards-container {
            .cards-right {
                // width: 100%;
                // padding: 1rem 2rem;
                .info-block {
                    text-align: center;
    
                    ul {
                        margin: 0 0 3rem 0;
                    }
                }
            }

            .fleche-card {
                // width: 100%;
                // justify-content: space-around;
            }

            
        }

        .bouton-page {
            width: 100%;
            font-size: 16px;
        }
    }

}