.section-six-container {
    background: var(--white);
    color: var(--dark-blue);
    padding: 1rem 5rem;

    .second-white-container {
        display: flex;
        margin: 7rem auto;
        justify-content: space-between;
        align-items: flex-end;
        background: var(--dark-blue);
        border-radius: 10px;
        color: var(--white);
        width: 100%;
        gap: 2rem;
        overflow: hidden;
        background-image: url("../../assets/images/image-bg.png");
        background-repeat: no-repeat;
        background-position: 0% center;
        height: 497px;

        .left-propilot-connexion {
            flex-basis: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 4rem;
            height: inherit;
            justify-content: center;
            gap: 2rem;

            .title-propilot {
                display: flex;
                flex-direction: column;
                
                h2 {
                    font-size: 38px;
                    color: var(--bleu-ciel);
                    margin: 0;
                }

                h3 {
                    font-size: 32px;
                    font-weight: 500;
                }                
            }

            a {
                text-decoration: none;
                color: var(--dark-blue);
                background: var(--saumon);
                border-radius: 30px;
                padding: 13px 20px;
                font-size: 18px;
                font-weight: 600;
                width: 10rem;
                text-align: center;
            }
        }

        .right-propilot-container {
            flex-basis: 50%;
            width: 100%;
            padding: 4rem 0 0 0;
            display: flex;
            justify-content: flex-end;

            img {
                margin-right: -82px;
            }

            
        }
    }
}

// Responsive 
@media screen and (max-width: 1024px) {
    .section-six-container {
        .second-white-container {
            .left-propilot-connexion {
                .title-propilot {
                    h2 {
                        font-size: 32px;
                    }

                    h3 {
                        font-size: 26px;
                    }
                }

                a {
                    // width: 60%;
                }
            }
        }
    }    
}

@media screen and (max-width: 991px) {
    .section-six-container {
        .second-white-container {
            .left-propilot-connexion {
                padding: 4rem 4rem 4rem 1rem;

                .title-propilot {
                    h2 {
                        // font-size: 32px;
                    }

                    h3 {
                        // font-size: 26px;
                    }
                }

                a {
                    // width: 90%;
                }
            }
        }
    }    
}

@media screen and (max-width: 768px) {
    .section-six-container {
        .second-white-container {
            flex-direction: column-reverse;
            height: auto;
            background-position: 0% bottom;

            .left-propilot-connexion {
                align-items: center;
                padding: 4rem;

                .title-propilot {
                    text-align: center;
                    gap: 2rem;
                    h2 {
                        // font-size: 32px;
                    }

                    h3 {
                        // font-size: 26px;
                    }
                }

                a {
                    // width: 90%;
                }                
            }
            .right-propilot-container {
                padding: 0;
                justify-content: center;

                img {
                    margin: 0;
                }
            }
        }
    }    
}

@media screen and (max-width: 563px) {
    .section-six-container {
        padding: 1rem 2rem;

        .second-white-container {
            margin: 4rem auto;
            // flex-direction: column-reverse;
            // height: auto;
            // background-position: 0% bottom;

            .left-propilot-connexion {
                padding: 3rem;
                // align-items: center;
                // padding: 4rem;

                .title-propilot {
                    // text-align: center;
                    // gap: 2rem;
                    h2 {
                        font-size: 26px;
                    }

                    h3 {
                        font-size: 20px;
                    }
                }

                a {
                    font-size: 16px;
                }                
            }
            .right-propilot-container {
                // padding: 0;
                // justify-content: center;

                img {
                    // margin: 0;
                }
            }
        }
    }    
}

@media screen and (max-width: 563px) {
    .section-six-container {
        // padding: 1rem 2rem;

        .second-white-container {
            // margin: 4rem auto;
            // flex-direction: column-reverse;
            // height: auto;
            // background-position: 0% bottom;

            .left-propilot-connexion {
                padding: 3rem 1rem;
                // align-items: center;
                // padding: 4rem;

                .title-propilot {
                    // text-align: center;
                    // gap: 2rem;
                    h2 {
                        font-size: 22px;
                    }

                    h3 {
                        font-size: 18px;
                    }
                }

                a {
                    font-size: 14px;
                }                
            }
            .right-propilot-container {
                // padding: 0;
                // justify-content: center;

                img {
                    width: 100%;
                }
            }
        }
    }    
}